{%extends 'base.html'%}
{%load static%}
{%block content%}
{% include 'partials/_alert.html'%}

def signup(request):
<form method="get" style='margin-right: 300px;' >
    
    {% for field in formfromuser %}
    <div class="form-group " >

      {{ field.label_tag }}<br>
      
      {{ field }}

      {% if field.help_text %}
        <small style="color: red">{{ field.help_text }}</small>
      {% endif %}

      {% for error in field.errors %}
        <p style="color: blue">{{ error }}</p>
      {% endfor %}

    </div>
  {% endfor %}

  <button class="btn btn-primary" name="btnsigup" type="submit">singup</button> 
</form>
{%endblock %}



